- @user ||= current_user
.stats
  %a{:href => "#{following_user_path(@user)}"}
    %strong#following.stat
      = @user.following.count
    following
  %a{:href => "#{followers_user_path(@user)}"}
    %strong#followers.stat
      = @user.followers.count
    followers
.user_detail
  %p= "email: " + @user.email
  %p= "age: " + @user.age.to_s
  %p= "nationality: " + @user.nationality
  %p= "introduction"
  .user_detail__introduction
    = @user.introduction
