<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <a href="<%= favorite_microposts_user_url(@user) %>">
    <div id="my_favorites" class="stat">
      ⭐️ <%= @user.my_favorites.count %>
    </div>
  </a>
</div>